@import url(fonts/helvetica_regular.otf);
@import url(fonts/helvetica_bold.otf);

/* Общие стили для всех страниц */

blockquote {
    margin: 0;
}

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: #37352f;
    line-height: 1.5;
}

ul {
    line-height: 2;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 1.875em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

a {
    color: #9f9f9c;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.title {
    margin-bottom: 50px;
}

.link {
    background: #4bb247;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
}

.link:hover {
    background: #3c8e39;
}

.list-link {
    background-color: #f1f1ef;
    padding: 30px;
    list-style-image: url("images/marker01.png");
}

.list-link a {
    color: #37352f;
    font-weight: 700;
}

.list-link a:hover {
    background-color: #c4c4bc;
}

.quote {
    border-left: 3px solid #37352f ;
    padding-left: 15px;
}

/* Стилизуем страницу Code Style CSS */

.list-css li {
    list-style: none;
}

.list-css li::before {
        content: " — ";
}

.code  {
    display: flex;
}

.code_bad {
    margin-right: 50px;
}

.bem_list {
    list-style: none;
    line-height: 1;
}